@use "./mixins/mixins";
@use "./theme/theme" as theme;
@use "./theme/sizes" as sizes;

@use "./modules/projects.scss";
@use "./modules/skills.scss";

body {
  margin: 0 auto;

  font-family: "Roboto Condensed", sans-serif;
  color: theme.$bright-navy;
  // line-height: sizes.$line-height;

  @include mixins.tablet-landscape {
    width: 90vw;
  }
  @include mixins.desktop {
    width: 1024px;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: theme.$white;
  ul {
    @include mixins.ul-flex;
    justify-content: space-around;
    a {
      text-decoration: none;
      color: theme.$para-text;
      &:hover {
        color: theme.$highlighter;
      }
    }
  }
}

.bold {
  font-weight: bold;
}

.section {
  padding: 3rem 2rem;

  &__title {
    font-family: "Bebas Neue", sans-serif;
    font-size: sizes.$text-title;
    line-height: sizes.$line-height;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    color: theme.$highlighter;
    margin: 0;
  }

  &__content {
    // border: 2px solid hotpink;
    padding: 2rem 0 0 2rem;
  }

  @include mixins.tablet {
    background-color: aliceblue;
    // display: block;
  }

  @include mixins.tablet-landscape {
    @include mixins.section-landscape-layout(3rem, lightblue);
  }

  @include mixins.desktop {
    @include mixins.section-landscape-layout(7rem, lightskyblue);
  }

  &--intro {
    height: 80vh;
    // background-color: lightpink;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: "Ubuntu", sans-serif;
    // max-width: 700px;

    &__heading {
      font-weight: 300;
      font-size: sizes.$text-heading;
      margin: 0;
    }
    &__subheading {
      margin: 2rem 0 0 0;
      font-weight: 300;
      font-size: sizes.$text-label;
    }
    &__text {
      font-weight: 300;
      font-size: sizes.$text-normal;
      margin: 0;
      color: theme.$desc-text;
    }
  }
  &--projects {
    // background-color: lightgoldenrodyellow;
  }
  &--tech {
    // background-color: lightgreen;
  }
  &--about {
    // background-color: lightsteelblue;
  }

  // @include mixins.large-screen {
  //   display: flex;

  //   &__title {
  //     width: 150px;
  //     margin-right: 50px;
  //     text-align: right;
  //   }

  //   &__content {
  //     padding: 0;
  //     // border: 2px solid black;
  //     width: 100%;
  //   }
  // }

  // @include mixins.extra-small-screen {
  //   &__content {
  //     // border: 2px solid hotpink;
  //     padding: 2rem 0 0 2rem;
  //   }
  // }
}

.about {
  p {
    margin-top: 0;
    // text-align: justify;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;

  .social {
    @include mixins.ul-flex;
    // width: 100%;
    // justify-content: space-evenly;
    margin: 0;
    &__item {
      padding: 1rem;
      text-transform: uppercase;
    }
  }
}
