@use "./mixins/mixins";
@use "./theme/theme" as theme;
@use "./theme/sizes" as sizes;

@use "./modules/projects.scss";
@use "./modules/skills.scss";
@use "./modules/navbar.scss";
@use "./modules/notice.scss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;

  font-family: "Roboto Condensed", sans-serif;
  line-height: sizes.$line-height;

  color: theme.$bright-navy;

  @include mixins.tablet-landscape {
    width: 90vw;
  }
  @include mixins.desktop {
    width: 1024px;
  }
}

.bold {
  font-weight: bold;
}

.section {
  padding: 3rem 2rem;
  min-height: 40vh;

  &__title {
    font-family: "Bebas Neue", sans-serif;
    font-size: sizes.$text-title;
    line-height: sizes.$line-height;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    color: theme.$highlighter;
    margin: 0;
  }

  &__content {
    padding: 2rem 0 0 2rem;

    hr {
      border: 0;
      height: 0;

      border-top: 1px solid rgba($color: theme.$bright-navy, $alpha: 0.1);
      margin: 1rem 0 2.5rem 0;
    }
  }

  @include mixins.tablet {
  }

  @include mixins.tablet-landscape {
    @include mixins.layout-section-landscape(3rem);
  }

  @include mixins.desktop {
    @include mixins.layout-section-landscape(7rem);
  }

  &--intro {
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: "Ubuntu", sans-serif;

    &__heading {
      @include mixins.text-weight-size-margin(sizes.$text-heading, 1rem 0 0 0);
    }
    &__subheading {
      @include mixins.text-weight-size-margin(sizes.$text-label, 2rem 0 0 0);
    }
    &__text {
      @include mixins.text-weight-size-margin(sizes.$text-normal);

      color: rgba($color: theme.$bright-navy, $alpha: 0.8);
    }
  }

  .project:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}

.about {
  p {
    margin-top: 0;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  color: rgba($color: theme.$bright-navy, $alpha: 0.7);
  font-size: sizes.$text-small;

  .social {
    @include mixins.ul-flex;

    margin: 0;
    &__item {
      padding: 1rem;
      text-transform: uppercase;
      a {
        font-size: 1rem;
      }
    }
  }
}
