@use "./mixins/mixins";
@use "./theme/theme" as theme;
@use "./theme/sizes" as sizes;

@use "./modules/projects.scss";
@use "./modules/skills.scss";

body {
  margin: 0 auto;

  font-family: "Roboto Condensed", sans-serif;
  color: theme.$bright-navy;
  // line-height: sizes.$line-height;

  @include mixins.tablet-landscape {
    width: 90vw;
  }
  @include mixins.desktop {
    width: 1024px;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: theme.$white;
  ul {
    @include mixins.ul-flex;
    justify-content: space-around;
    a {
      text-decoration: none;
      color: theme.$para-text;
      &:hover {
        color: theme.$highlighter;
      }
    }
  }
}

.bold {
  font-weight: bold;
}

.section {
  padding: 3rem 2rem;

  &__title {
    font-family: "Bebas Neue", sans-serif;
    font-size: sizes.$text-title;
    line-height: sizes.$line-height;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    color: theme.$highlighter;
    margin: 0;
  }

  &__content {
    padding: 2rem 0 0 2rem;

    hr {
      border: 0;
      height: 0;

      border-top: 1px solid rgba($color: theme.$bright-navy, $alpha: 0.1);
      margin: 1rem 0 2.5rem 0;
    }
  }

  @include mixins.tablet {
  }

  @include mixins.tablet-landscape {
    @include mixins.layout-section-landscape(3rem);
  }

  @include mixins.desktop {
    @include mixins.layout-section-landscape(7rem);
  }

  &--intro {
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: "Ubuntu", sans-serif;

    &__heading {
      font-weight: 300;
      font-size: sizes.$text-heading;
      margin: 0;
    }
    &__subheading {
      margin: 2rem 0 0 0;
      font-weight: 300;
      font-size: sizes.$text-label;
    }
    &__text {
      font-weight: 300;
      font-size: sizes.$text-normal;
      margin: 0;
      color: rgba($color: theme.$bright-navy, $alpha: 0.8);
    }
  }

  .project:nth-of-type(2) {
    flex-direction: row-reverse;
  }
  .project:nth-of-type(4) {
    flex-direction: row-reverse;
  }
  .project:nth-of-type(6) {
    flex-direction: row-reverse;
  }
}

.about {
  p {
    margin-top: 0;
    // text-align: justify;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  color: rgba($color: theme.$bright-navy, $alpha: 0.7);
  font-size: sizes.$text-small;

  .social {
    @include mixins.ul-flex;

    margin: 0;
    &__item {
      padding: 1rem;
      text-transform: uppercase;
    }
  }
}
