.project {
  margin-bottom: 1rem;
  justify-content: space-between;
}
.project__screenshot img {
  width: 100%;
}
.project__content {
  width: 90%;
  margin: 0.1rem auto 0;
}
.project__content__title {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
}
.project__content__header {
  display: flex;
  justify-content: space-between;
}
.project__content__links {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  align-items: center;
  margin: 0;
}
.project__content__links li {
  margin-right: 0.7rem;
}
.project__content__links li a {
  text-decoration: none;
}
.project__content__stacks {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  flex-wrap: wrap;
}
.project__content__stacks li {
  margin-right: 0.7rem;
  font-size: 0.8rem;
  color: rgba(19, 25, 84, 0.5);
  line-height: 1rem;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .project {
    display: flex;
  }
  .project__screenshot {
    width: 47%;
  }
  .project__content {
    width: 47%;
  }
  .project__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .project {
    display: flex;
  }
  .project__screenshot {
    width: 47%;
  }
  .project__content {
    width: 47%;
  }
}
@media only screen and (min-width: 1025px) {
  .project {
    display: flex;
  }
  .project__screenshot {
    width: 47%;
  }
  .project__content {
    width: 47%;
  }
}

.stacks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.stacks__category {
  width: 90%;
  margin-bottom: 2rem;
}
.stacks__category__label {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  line-height: 1.7rem;
  margin: 0;
}
.stacks ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .stacks__category {
    width: 47%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .stacks__category {
    width: 47%;
  }
}
@media only screen and (min-width: 1025px) {
  .stacks__category {
    width: 47%;
  }
}

header {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-sizing: border-box;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  header {
    width: inherit;
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 1025px) {
  header {
    width: inherit;
    justify-content: flex-end;
  }
}

.navigation__list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  justify-content: space-around;
}
.navigation__list__item {
  display: flex;
  align-items: center;
}
.navigation__list__item__link {
  text-decoration: none;
  text-align: center;
  color: #131954;
  transition: all ease-out 250ms;
  padding: 0 1rem;
}
.navigation__list__item__link--active {
  color: #30f6af;
  font-weight: 600;
}
.navigation__list__item__link:hover {
  color: #30f6af;
  text-decoration: underline;
}

.notice__text {
  margin: 0 0 1rem 1rem;
  color: rgba(19, 25, 84, 0.5);
  font-size: 0.7rem;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.7rem;
  color: #131954;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    width: 90vw;
  }
}
@media only screen and (min-width: 1025px) {
  body {
    width: 1024px;
  }
}

.bold {
  font-weight: bold;
}

.section {
  padding: 3rem 2rem;
  min-height: 40vh;
}
.section__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.8rem;
  line-height: 1.7rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  color: #30f6af;
  margin: 0;
}
.section__content {
  padding: 2rem 0 0 2rem;
}
.section__content hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(19, 25, 84, 0.1);
  margin: 1rem 0 2.5rem 0;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .section {
    background-color: white;
    display: flex;
    padding: 3rem;
  }
  .section__title {
    width: 150px;
    margin-right: 50px;
    text-align: right;
  }
  .section__content {
    padding: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 1025px) {
  .section {
    background-color: white;
    display: flex;
    padding: 7rem;
  }
  .section__title {
    width: 150px;
    margin-right: 50px;
    text-align: right;
  }
  .section__content {
    padding: 0;
    width: 100%;
  }
}
.section--intro {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
}
.section--intro__heading {
  font-weight: 300;
  font-size: 2.5rem;
  margin: 1rem 0 0 0;
}
.section--intro__subheading {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 2rem 0 0 0;
}
.section--intro__text {
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
  color: rgba(19, 25, 84, 0.8);
}
.section .project:nth-of-type(even) {
  flex-direction: row-reverse;
}

.about p {
  margin-top: 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  color: rgba(19, 25, 84, 0.5);
  font-size: 0.8rem;
}
footer .social {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
footer .social__item {
  padding: 1rem;
  text-transform: uppercase;
}
footer .social__item a {
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
