@use "../theme/sizes" as size;

@mixin ul-flex {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

// 481px - 767px
@mixin tablet {
  @media only screen and (min-width: (size.$sm + 1px)) and (max-width: size.$md) {
    @content;
  }
}

// 769px - 1024px
@mixin tablet-landscape {
  @media only screen and (min-width: (size.$md + 1px)) and (max-width: size.$lg) {
    @content;
  }
}

// 1025px +
@mixin desktop {
  @media only screen and (min-width: (size.$lg + 1px)) {
    @content;
  }
}

@mixin layout-section-landscape($padding, $bg: white) {
  background-color: $bg;
  display: flex;
  padding: $padding;

  &__title {
    width: 150px;
    margin-right: 50px;
    text-align: right;
  }
  &__content {
    padding: 0;
    width: 100%;
  }
}

@mixin layout-project-two-column {
  display: flex;

  &__screenshot {
    width: 47%;
  }

  &__content {
    width: 47%;
  }
}

@mixin layout-stack-category {
  &__category {
    width: 47%;
  }
}

@mixin layout-header {
  width: inherit;
  justify-content: flex-end;
}

@mixin text-weight-size-margin($size, $margin: 0, $weight: 300) {
  font-weight: $weight;
  font-size: $size;
  margin: $margin;
}
