// breakpoints
$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;

// paragraph
$size-para: 1.5rem;

// font-size
$text-heading: 2.5rem;
$text-title: 1.8rem;
$text-label: 1.5rem;
$text-normal: 1rem;
$text-small: 0.8rem;

$line-height: 1.7rem;
